{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

  <head>
    <title>Some page inside the skills folder</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
 
  </head>
  <body>
    <h1>Some page inside the skills folder</h1>
    <a href="/skills/create">Add a New Skill</a>
        {% for skill in skills %}
            <div class="card">
                <a href="{% url 'detail' skill.id %}">
                    <div class="card-content">
                        <span class="card-title">{{skill.skill}}</span>
                        <p>Skill: {{skill.skill}} </p>
                        <p>Description: {{skill.description}} </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    <footer>All Rights Reserved,  2018</footer>
  </body>

{% endblock %}

